// fun fact: SCSS offers variables, you can shorten your code by using variables. 
//It is a great advantage over conventional CSS.
//
// https://www.geeksforgeeks.org/what-is-the-difference-between-css-and-scss/
// -Gabe 5/17/2021

$white: #ffffff;

$ubuntu-font: 'Ubuntu', 'Arial', 'Helvetica', sans-serif;

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
}
  
.product-container {
height: auto;
}

.product-control {
height: auto;
}

.product-detail-card{
width: 100%;
height: 30rem;
}

.box-detail {
margin: 10px;
padding: 0.5rem;
}

.product-detail-image {
width: 70%;
height: 150px;
margin-left: 15%;
}

.product_detail {
display: flex;
justify-content: center;
margin: auto;
width: 50%;
padding-top: 10px;
position: relative;
}

.card-img {
width:100%;
height: 70%;
}